body {
    background-image: url("src\assets\images\bg4.jpg");
    background-size: cover;
}

/* body,
.signin {
    background-color: #d3d3d3;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
} */

.login {
    height: 560px;
    width: 405px;
    margin: auto;
    padding: 60px 60px;
    box-shadow: 0px 30px 60px -5px #000;
    vertical-align: middle;
    border: 199px;
    margin-top: 50px;
}

form {
    padding-top: 80px;
}

.active {
    border-bottom: 2px solid #000;
}

h2 {
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
    margin-left: 20px;
    font-weight: bolder;
}

h2:first-child {
    padding-left: 0px;
}

.text {
    border: none;
    width: 120%;
    padding: 20px 20px;
    display: block;
    height: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-top: 5px;
    transition: all 0.5s ease-in-out;
}

.text:focus {
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
}

.text:focus {
    opacity: 0.6;
}

::placeholder {
    color: white;
}

input[type="email"],
input[type="password"] {
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

input {
    display: inline-block;
    padding-top: 0px;
    font-size: 14px;
}

.signin {
    background-color: #1161ed;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
}

.signin:hover {
    background: #4082f5;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
}

::placeholder {
    color: #000;
}

legend {
    font-size: 12px;

}